@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital,wght@1,500&display=swap');

body{
    background-color: rgba(26,5,79,1);
    background-image: linear-gradient(rgba(0,0,0,1) 0%, rgba(26,5,79,1) 100%, rgba(0,212,255,1) 100%, rgba(49,9,121,1) 100%);
    /* font-family: 'Roboto Mono', monospace; */
    background-repeat: no-repeat;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

nav ul{
    display: flex; /*ul in the same nav */
    align-items: center;
    list-style-type: none; /* avoid the dafault pointed list */
    height: 89px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px; /* top-bottom = 0px, right-left = 12px */
}

a{
    color: white;
}
.logo-img{
    display: flex; /*ul in the same nav */
    align-items: center;
    font-weight: bolder;
    font-size: 1.4rem; /* root element */
}

.logo-img img{
    width: 80px;
    padding: 0 10px; 
}
.container{
    margin: 0 auto;
   /*  background-color: grey; */
    color: white;
   /*  font-family: 'Roboto Mono', monospace; */
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap; /*multiple line*/
    justify-content: center;
}
.container-cards{
    width: 80vw;
    display: flex;
    flex-wrap: wrap; /*multiple line*/
    justify-content: center;
}
.card{
    color: white;
    display: flex;
    position: relative;
    flex-direction: column; /*any make content inside the card flow vertically*/
    cursor: pointer;
    margin: 1.5rem;
    padding: 1.5rem;
    width: 210px;
    height: 300px;
    border-radius: 5px;
    background: rgb(30, 30, 30);
    box-shadow: -1rem 0 3rem #000;
}

.card:hover{
    background-color: rgb(50, 50, 50);
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.3s ease;
}

.card img{
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    width: 200px;
    height: 200px;
}
.card-names{
    margin: 15% auto;
}
.card-names p{
    margin: 10% auto;
    color: rgb(180, 180, 180);
    font-weight: lighter;
}
.song-item{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(79, 18, 116);
    width: 60vw;
    margin:12px;
    border-radius: 15px;
}

.song-item img{
    margin: 23px 0;
    width: 25px;
}


.album-profile{
    width: 80vw;
    display: flex;
    padding: 3%;
    font-size: x-large;
}

.album-profile img{
    border-radius: 5px;
    background-color: white;
    width: 300px;
    height: 300px;
    margin: 2%;
}

.card-names-profile{
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: xx-large;
    height: 300px;
    margin: 2%;
}

.first-line{
    margin: 0 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

hr {
    border: 0;
    height: 1;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.track{
    margin: 3%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.track:hover{
    background-color: rgba(50, 50, 50, 0.45);
    cursor: pointer;
}


#button-back:hover{
    transform: scale(1.03);
}
.bottom{
    position: fixed;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#myProgressBar{
    width: 80vw;
}

.material-symbols-outlined {
    margin: 15px 15px;
    cursor: pointer;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
@media screen and (max-width: 680px){

    .album-profile img{
        width: 180px;
        height: 180px;
        justify-content: end;
    }

    .card-names-profile{
        height: 180px;
        font-size: small;
    }

    span{
        font-size: x-small;
    }


}
